<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/index.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/index.css"

</head>
<body>
    <h1>Valorizzarti</h1>    
<div class="first">
    <div class="search-container">
    <form id="searchForm" action="/search" method="POST">    
        <input class="search-input" type="text" id="search_query" name="search_query" placeholder="Search Query">
        <button type="submit">Search</button>      
    </form>
    </div>
    <div class="general-buttons">
        <div class="form1"></div>
            <div class="form-logout"></div>
                <form action="/logout" method="POST">
                    <button type="submit">logout</button>
                </form>
                <form action="/updateprofile/" method="GET">
                <button type="submit">change products</button>
                </form>
            </div>
        </div>
        <div class="form1">
            <div class="secondForm">
                <form action="/kjell">
                    <button type="submit">kjell</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>