<!DOCTYPE html>
<html>
<head>
    <title>Valorem</title>

</head>
<body>
<div class="first">
    <h1>Valorem</h1>
    <form id="searchForm" action="/search" method="POST">
    
        <input type="text" id="search_query" name="search_query" placeholder="Search Query">
        <button type="submit">Search</button>
        
    </form>

    <form action="/logout" method="POST">
        <button type="submit">logout</button>
    </form>

    <form action="/kjell">
        <button type="submit">kjell</button>
    </form>
</div>
</body>
</html>