<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/registerUser.css">
    <title>Register new profile</title>
</head>
<body>
    <form id="registerUser" action="/register/user-data" method="POST">
        <label for="name" id="name">Full name</label>
        <input id="name" name="name" required/>
        
        <label for="email" id="email Label">Email</label>
        <input type="email" name="email" required/>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required/>
        
        <label for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required/>
        <span id="passwordMatchIndicator"></span>
        
        <button type="submit" id="submit" name="submit">Confirm</button>
    </form>
    <script src="/static/register.js"></script>
    <p>{{status}}</p>
</body>
</html>